<%inherit file="/homepage/templates/base.htm" />
<%! from catalog import models as cmod %>

<%block name="maintenance">
    <h4 align="center">We're currently upgrading our site for your benefit</h4>
</%block>

<%block name="columns">
    <div id="content_top"> <%block name="top"></%block></div>
    <div id="content_middle">
        <div id="content_left">
            <%block name="left">
                <ul id="menu">
                    <li>
                        <a href="/catalog/index/0/" class="${ 'selected' if category is None else ''  }">
                            All Products
                        </a>
                    </li>
                    %for cat in c_list:
                        <li><a href="/catalog/index/${ cat.id | h}" class="${ 'selected' if category == cat else ''  }">${ cat }</a></li>
                    %endfor
                </ul>
            </%block>
        </div>
        <div id="content_right">
            <%block name="right">
                <ol id="pr_list">
                    <%list_start = 0%>
                    <%list_end = len(request.last_five)%>
                    %if product in request.last_five:
                        <%list_start = 1%>
                    %else:
                        <%list_end = len(request.last_five) - 1%>
                    %endif
                    %for pr in request.last_five[list_start:list_end]:
                         <a href="/catalog/detail/${ pr.id }">
                             <li class="pr_tile">
                                 <img src="${ cmod.Product.image_url(pr.id) }" class="pr_image">
                                 <div class="title" align="center">${ pr.name | h} </div>
                            </li>
                        </a>
                    %endfor
                </ol>
            </%block>
        </div>
        <div id="content">
            <%block name="middle"></%block>
            <%block name="content"></%block>
        </div>
    </div>
    <div id="content_bottom"><%block name="bottom"></%block></div>
</%block>

<%block name="navigate">
    <nav class="navbar navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="piano" width="50" src="${ STATIC_URL }homepage/media/piano_icon.png" align="bottom">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="home"><a href="/homepage/index/">Home</a></li>
                    <li class="home"><a href="/homepage/terms/">Terms</a></li>
                    <li class="home"><a href="/homepage/faq/">Frequently Asked Questions</a></li>
                    <li class="home"><a href="/homepage/about/">About Us</a></li>
                    <li class="home"><a href="/homepage/contact/">Contact Us</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    % if request.user.is_authenticated:
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Welcome!<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/account/account/">My Account</a></li>
                                <li><a href="/account/logout/">Log Out</a></li>
                            </ul>
                        </li>
                    % else:
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Account<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/account/signup/">Sign Up</a></li>
                                <li><a href="/account/login/">Log In</a></li>
                            </ul>
                        </li>
                    % endif
                </ul>
                <% value= 0%>
                <a href="/catalog/cart/" type="button" id="cart">${ value or "0" }</a>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</%block>
