<%inherit file="app_base.htm" />

<%block name="content">
    <div class="content">
        <h2>Total: ${ total }</h2>
        <form method="POST">
            ${ csrf_input }
            ${ form.as_p() }
            <form method="POST">
                ${ csrf_input }
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_5rwmuuIfnooPecBafks6lKOg"
                    data-amount=${ total*100 }
                    data-name="FOMO"
                    data-description="Checkout"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-label="Pay Now"
                    >
                </script>
            </form>
        </form>
    </div>
</%block>
