<%inherit file="app_base.htm" />

<%! from catalog import models as cmod %>

<%block name="content">
    <div class="content">
        <h1 align="center">${ product.name | h}</h1>
        <div class="pictures">
            <div class="thumbnail">
                <ul>
                    %for pic in urls:
                        <li>
                            <img src="${ pic }" alt="${ product.name }" onmouseenter="change_pic(src)">
                        </li>
                    %endfor
                </ul>
            </div>
            <img alt="${ product.name }" id="first_pic">
        </div>
        <h2>${ product.description | h}</h2>
        <form method="POST">
            ${ csrf_input }
            ${ form.as_p() }
            <input type="submit" value="Add to cart" />
        </form>
    </div>
</%block>
