<%inherit file="/homepage/templates/base_ajax.htm" />

<%! from catalog import models as cmod %>

<%block name="content">
    <h3 class="paginate" align="right">
        <a onclick="change_page(-1)" id="left-nav" class="selected"> << </a>
         Page <span id="current_page">${ pnum }</span> of ${ num_pages }
        <a onclick="change_page(1)" id="right-nav" class="selected"> >> </a>
    </h3>

    <ul id="product_list">
        <%count = 0%>
        %for product in qry:
            <li class="product_tile">
                <div class="title">${ product.name } </div>
                <div class="price">$${ product.price }</div>
                <img src="${ urls[count] }" class="pr_image">
            </li>
            <%count = count + 1%>
        %endfor
    </ul>
</%block>

