    <%inherit file="app_base.htm" />

<%! from catalog import models as cmod %>

<%block name="content">
    <div class="content">
        %if products is not None:
            %for product in products:
                 <a href="/catalog/detail/${ product.id }">
                     <li class="product_tile">
                        <div class="title" align="center">${ product.name } </div>
                        <div class="price">$${ product.price }</div>
                        <img src="${ cmod.Product.image_url(product.id) }" class="pr_image">
                    </li>
                </a>
            %endfor
        %else:
            <p align="center">Product not found.</p>
        %endif
    </div>
</%block>
