<%inherit file="app_base.htm" />

<%block name="content">
    <div class="content">
        <h3>Serving the people of Utah since 1952!</h3>
        <p>Johan Anderson is dedicated to the people of Utah County. “FOMO is a store that aims to satisfy the musical needs of musicians and budding musicians in the area.
            We provide instruments, accessories, repairs, sheet music, and training opportunities."</p>
        <br>
        <p>
            In order to make our site more accessible for those with impairments, we have added 'alternative text' for the pictures on the home page,
            made the links more visible, improved the keyboard functionality of our site, adjusted the color contrasts, used hierarchical headings
            to organize the page better, and added a 'Skip to Main Content' link.
        </p>
    </di<p>If you have any suggestions as to how we can further improve our site, please contact us and let us know.</p>
    </div>
</%block>

<% active_page = "about" %>
