<%inherit file="app_base.htm" />

<%block name="menu">
    <div class="menu">faq</div>
</%block>

<%block name="content">
    <div class="content">
        <h3>Why did you do this?</h3>
        <h4>To bring the world the power of musical instruments... And for a grade</h4>
        <h3>What is your most popular instrument?</h3>
        <h4>The 12-neck guitar</h4>
        <img src="${ STATIC_URL }homepage/media/12-neck-guitar.jpg">
        <h3>Is there any relation to your store's acronym and the popular phrase: 'Fear of Missing Out'?</h3>
        <h4>Of course! We want our students to be afraid of missing out on the opportunity to play an instrument.</h4>
    </div>
</%block>
