<%inherit file="app_base.htm" />

<%block name="menu">
    <div class="menu">index</div>
</%block>

<%block name="sider">
    <div id="side"><h1 class="welcome" align="center">${ welcome }</h1><h2 class="welcome" align="center">${ welcome2 }</h2></div>
</%block>

<%block name="top">
    <div class="content-top"><h2 class="text" align="center">Lorem ipsum dolor sit amet, consectetaur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2></div>
</%block>

<%block name="longbottom">
    <div class="sidebottom">
        <a class="btn btn-primary" href="/catalog/index/" role="button">Start Your Musical Journey!</a>
    </div>
</%block>

<% active_page = "index" %>
