<%inherit file="app_base.htm" />

<%block name="navigate">
    <div class="navigate">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">FOMO</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="home"><a href="/homepage/index/">Home</a></li>
                <li class="home"><a href="/homepage/terms/">Terms</a></li>
                <li class="home"><a href="/homepage/faq/">Frequently Asked Questions</a></li>
                <li class="home"><a href="/homepage/about/">About Us</a></li>
                <li ><a href="/homepage/contact/">Contact Us</a></li>
            </ul>
        </div>
    </div>
</%block>

<%block name="top">Top content</%block>
<%block name="left">Left column</%block>
<%block name="right">Right column</%block>
<%block name="middle">Middle column</%block>
<%block name="bottom">Bottom content</%block>

<%block name="maintenance">
    <h4 align="center">We're currently upgrading our site for your benefit.</h4>
</%block>

